@import "variables";

.item-adder {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item-quantity {
        background-color: hsl(223, 64%, 98%);
        border-radius: 5px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        span {
            cursor: pointer;
            img:hover {
                opacity: 0.5;
            }
        }
    }
    #add-to-cart-btn {
        &:hover {
            opacity: 0.5;
        }
        span {
            margin-left: 15px;
        }
        background-color: $primary-orange;
        color: white;
        width: 80%;
        display: flex;
        justify-content: center;
        font-weight: 700;
        margin-top: 15px;
        padding: 10px;
    }
}

@media screen and (min-width: 1250px) {
    .item-adder {
        flex-direction: row;
        .item-quantity {
            width: 200px;
        }
    }
    button {
        margin-top: 0 !important;
        margin-left: 15px;
    }
}