#product-info-cart {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1250px){
    #product {
        padding: 200px 0 50px 0;
        min-width: 90vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #product-info-cart {
        width: 450px;
    }
}